In [1]:
import numpy as np
import xgboost
import pandas as pd

df = pd.read_csv("./train.csv")
df_valid = pd.read_csv("./validation.csv")
df_test = pd.read_csv("./test.csv")

In [2]:
df.head()

,click,weekday,hour,bidid,userid,useragent,IP,region,city,adexchange,...,slotheight,slotvisibility,slotformat,slotprice,creative,bidprice,payprice,keypage,advertiser,usertag
0,0,5,22,b7bea80521fdecd95d2d761a38c91c3f09618066,2e880fb7d690cf7377b2e42e701728e3f3c0e4c1,windows_ie,125.37.175.*,2,2,2.0,...,200,2,0,5,a4f763f78ef3eedfe614263b94a8924e,238,5,0f951a030abdaedd733ee8d114ce2944,3427,NaN
1,0,1,20,4f51205475678f5a124bc76b2c54163bf8eaa7eb,3a1fe01360ff8100e7d006b83b77a3e4c01d928c,windows_chrome,171.36.92.*,238,239,1.0,...,250,FourthView,Na,0,10722,294,23,NaN,2821,NaN
2,0,3,13,b604e3fd054a658ab7ced4285ebf2ef54d2bd890,801d18a056b6fe6b06a794aef17fb0d6daff2414,windows_ie,59.46.106.*,40,41,2.0,...,250,2,0,5,798b2d49952d77f1eace9f23c210d0b5,238,24,0f951a030abdaedd733ee8d114ce2944,3427,"10052,10006,13866,10110"
3,0,6,23,0348beeae93e561584c3b50fc9e7746a33048ad7,0d6eaf2259699990e38a1fc5116f112070b9ecdc,windows_ie,114.250.226.*,1,1,1.0,...,600,2,1,0,cb7c76e7784031272e37af8e7e9b062c,300,25,bebefa5efe83beee17a3d245e7c5085b,1458,"13866,10063,10111"
4,0,5,6,268149c1789bce2bc9798ffd97ec431219bafeb3,a239d9bb642460d974ba67f85e63b8d3e214da0e,windows_ie,183.63.192.*,216,233,2.0,...,90,OtherView,Na,133,7330,277,133,NaN,2259,NaN

In [3]:
# train_split = np.array_split(df, 4)
# train = train_split[0]
train = df
train_y = train['click']

cols = ['weekday', 'hour', #'bidid', 'userid', 'useragent',
       #'IP', 
        'region', 'city', 'adexchange', #'domain', 'url', 
        'urlid',
       #'slotid', 
        'slotwidth', 'slotheight', #'slotvisibility', 'slotformat',
       'slotprice', #'creative', 
        'bidprice','payprice', #'keypage',
       'advertiser', 'usertag'
       ]

train_x = train[cols]

In [9]:
features = ['weekday', 'hour', 'city', 'slotprice', 'bidprice','payprice', 'advertiser']
#features = cols
X = train[features]
y = train_y

model = xgboost.XGBClassifier()
model.fit(X, y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [10]:
test_split = np.array_split(df_valid, 1)
test = test_split[0]
test_x = test[features]
test_x
test_predictions = model.predict(test_x)
test_x['click_pred'] = test_predictions
test_x['click'] = test['click']
test_x['abs_diff'] = abs(test_x['click_pred'] - test_x['click'])
test_x[['click_pred', 'click', 'abs_diff']]

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x7f6afe317668>>
Traceback (most recent call last):
  File "/opt/anaconda/envs/Python3/lib/python3.6/site-packages/xgboost/core.py", line 368, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'
/opt/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        click_pred  click  abs_diff
0                0      0         0
1                0      0         0
2                0      0         0
3                0      0         0
4                0      0         0
5                0      0         0
6                0      0         0
7                0      0         0
8                0      0         0
9                0      0         0
10               0      0         0
11               0      0         0
12               0      0         0
13               0      0         0
14               0      0         0
15               0      0         0
16               0      0         0
17               0      0         0
18               0      0         0
19               0      0         0
20               0      0         0
21               0      0         0
22               0      0         0
23               0      0         0
24               0      0         0
25               0      0         0
26               0      0         0
27               0      0         0
28               0      0         0
29               0      0         0
...            ...    ...       ...
303895           0      0         0
303896           0      0         0
303897           0      0         0
303898           0      0         0
303899           0      0         0
303900           0      0         0
303901           0      0         0
303902           0      0         0
303903           0      0         0
303904           0      0         0
303905           0      0         0
303906           0      0         0
303907           0      0         0
303908           0      0         0
303909           0      0         0
303910           0      0         0
303911           0      0         0
303912           0      0         0
303913           0      0         0
303914           0      0         0
303915           0      0         0
303916           0      0         0
303917           0      0         0
303918           0      0         0
303919           0      0         0
303920           0      0         0
303921           0      0         0
303922           0      0         0
303923           0      0         0
303924           0      0         0

[303925 rows x 3 columns]

In [11]:
a=test_x[test_x['click_pred']>0.05]

In [12]:
a

Empty DataFrame
Columns: [weekday, hour, city, slotprice, bidprice, payprice, advertiser, click_pred, click, abs_diff]
Index: []

In [13]:
test_x['abs_diff'].mean()

0.0006646376573167722

In [14]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(test_x['click'], test_x['click_pred'])
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 99.93%