In [1]:
#!pip install keras
import pandas as pd
import numpy as np
import keras
import math

Requirement already satisfied: keras in /opt/anaconda/envs/Python3/lib/python3.6/site-packages
Requirement already satisfied: pyyaml in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from keras)
Requirement already satisfied: scipy>=0.14 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from keras)
Requirement already satisfied: numpy>=1.9.1 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from keras)
Requirement already satisfied: six>=1.9.0 in /opt/anaconda/envs/Python3/lib/python3.6/site-packages (from keras)
You are using pip version 9.0.1, however version 9.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
train = pd.read_csv("/project/tffm-master/Sample10_click179.csv")

In [3]:
train.head()

,click,slotwidth,slotheight,slotprice,android,ios,linux,mac,other,windows,...,slotformat_Na,advertiser_1458,advertiser_2259,advertiser_2261,advertiser_2821,advertiser_2997,advertiser_3358,advertiser_3386,advertiser_3427,advertiser_3476
0,1,1000,90,80,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,1,336,280,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
2,1,300,250,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,320,50,160,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,1,300,250,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [4]:
valid = pd.read_csv("Data/valid_newfeature.csv")

In [5]:
valid.head()

,click,slotwidth,slotheight,slotprice,android,ios,linux,mac,other,windows,...,slotformat_Na,advertiser_1458,advertiser_2259,advertiser_2261,advertiser_2821,advertiser_2997,advertiser_3358,advertiser_3386,advertiser_3427,advertiser_3476
0,0,160,600,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
1,0,950,90,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,0,300,250,5,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,0,336,280,5,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,0,200,200,5,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [6]:
test = pd.read_csv("Data/mytestset.csv")

In [7]:
test.head()

,slotwidth,slotheight,slotprice,10006,10024,10031,10048,10052,10057,10059,...,slotformat_Na,advertiser_1458,advertiser_2259,advertiser_2261,advertiser_2821,advertiser_2997,advertiser_3358,advertiser_3386,advertiser_3427,advertiser_3476
0,300,250,10,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,320,50,5,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,336,280,0,1,1,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
3,960,90,30,1,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
4,300,250,50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
test = test[['slotwidth', 'slotheight', 'slotprice', 'android', 'ios',
       'linux', 'mac', 'other', 'windows', 'chrome', 'firefox', 'ie',
       'maxthon', 'opera', 'other.1', 'safari', 'sogou', 'theworld',
       '10006', '10024', '10031', '10048', '10052', '10057', '10059',
       '10063', '10067', '10074', '10075', '10076', '10077', '10079',
       '10083', '10093', '10102', '10110', '10111', '10114', '10115',
       '10116', '10117', '10118', '10120', '10123', '10125', '10126',
       '10127', '10129', '10130', '10131', '10133', '10138', '10140',
       '10142', '10145', '10146', '10147', '10148', '10149', '10684',
       '11092', '11278', '11379', '11423', '11512', '11576', '11632',
       '11680', '11724', '11944', '13042', '13403', '13496', '13678',
       '13776', '13800', '13866', '13874', '14273', '15398', '16593',
       '16617', '16661', '16706', '16751', '16753', 'hour_sin', 'hour_cos',
       'city_per', 'region_per', 'weekday_0', 'weekday_1', 'weekday_2',
       'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6',
       'adexchange_1.0', 'adexchange_2.0', 'adexchange_3.0',
       'adexchange_4.0', 'adexchange_nan', 'slotvisibility_0',
       'slotvisibility_1', 'slotvisibility_2', 'slotvisibility_255',
       'slotvisibility_FifthView', 'slotvisibility_FirstView',
       'slotvisibility_FourthView', 'slotvisibility_Na',
       'slotvisibility_OtherView', 'slotvisibility_SecondView',
       'slotvisibility_ThirdView', 'slotformat_0', 'slotformat_1',
       'slotformat_5', 'slotformat_Na', 'advertiser_1458',
       'advertiser_2259', 'advertiser_2261', 'advertiser_2821',
       'advertiser_2997', 'advertiser_3358', 'advertiser_3386',
       'advertiser_3427', 'advertiser_3476']]

In [9]:
test.head()

,slotwidth,slotheight,slotprice,android,ios,linux,mac,other,windows,chrome,...,slotformat_Na,advertiser_1458,advertiser_2259,advertiser_2261,advertiser_2821,advertiser_2997,advertiser_3358,advertiser_3386,advertiser_3427,advertiser_3476
0,300,250,10,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
1,320,50,5,1,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,336,280,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,960,90,30,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
4,300,250,50,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
train_x = train.as_matrix()[:,1:]
train_x.shape

(244712, 126)

In [11]:
train_y = train.as_matrix()[:,0]
train_y.shape

(244712,)

In [12]:
train_x = np.expand_dims(train_x, axis = 1)

In [13]:
train_x.shape

(244712, 1, 126)

In [14]:
def create_class_weight(trainY,mu=2.2):
    total = len(train['click'])
    keys = train['click'].unique()
    class_weight = dict()
    for key in keys:
        score = math.log(mu*total/float(train['click'].value_counts()[key]))
        class_weight[key] = score if score > 1.0 else 1.0
    return class_weight
train_class_weight=create_class_weight(train)
print(train_class_weight)

{1: 5.704649174627872, 0: 1.0}

In [15]:
from keras.models import Sequential 
from keras.layers import Dense
from keras.layers import Activation, Dropout, Flatten, Dense
from keras.optimizers import SGD
from keras.optimizers import SGD,Adam
from keras.utils.np_utils import to_categorical
from keras.layers import Convolution1D, GlobalMaxPooling1D
from keras.callbacks import ModelCheckpoint,EarlyStopping

In [16]:
input_dim=len(train.columns)-1

In [17]:
model = Sequential()
#model.add(Dense(output_dim = 2, input_dim=len(train.columns)-1, activation='softmax'))
model.add(Convolution1D(nb_filter = 64,
                       filter_length = 3,
                       border_mode='same',
                       activation='relu',
                       input_shape=(1,input_dim),
                       ))
model.add(GlobalMaxPooling1D())
model.add(Dense(250))
model.add(Dropout(0.2))
model.add(Activation('relu'))
model.add(Dense(output_dim = 2, input_dim=input_dim, activation='softmax'))

#optimizer = SGD(lr = 0.003, momentum = 0.9, decay = 0.0, nesterov = True)
optimizer=Adam(lr=0.001)
model.compile(optimizer=optimizer, loss='categorical_crossentropy', metrics=['accuracy'])
model.summary()

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel/__main__.py:7: UserWarning: Update your `Conv1D` call to the Keras 2 API: `Conv1D(activation="relu", input_shape=(1, 126), filters=64, kernel_size=3, padding="same")`

WARNING:tensorflow:From /opt/anaconda/envs/Python3/lib/python3.6/site-packages/tensorflow/python/util/deprecation.py:497: calling conv1d (from tensorflow.python.ops.nn_ops) with data_format=NHWC is deprecated and will be removed in a future version.
Instructions for updating:
`NHWC` for data_format is deprecated, use `NWC` instead
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_1 (Conv1D)            (None, 1, 64)             24256
_________________________________________________________________
global_max_pooling1d_1 (Glob (None, 64)                0
_________________________________________________________________
dense_1 (Dense)              (None, 250)               16250
_________________________________________________________________
dropout_1 (Dropout)          (None, 250)               0
_________________________________________________________________
activation_1 (Activation)    (None, 250)               0
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 502
=================================================================
Total params: 41,008
Trainable params: 41,008
Non-trainable params: 0
_________________________________________________________________

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/ipykernel/__main__.py:13: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=126, activation="softmax", units=2)`

In [18]:
MODEL_CHECKPOINT_FILE_PATH="Keras-CNN.hdf5"
checkpointer = ModelCheckpoint(filepath=MODEL_CHECKPOINT_FILE_PATH, verbose=1, save_best_only=True)
earlystopper = EarlyStopping(monitor='val_loss', patience=2, verbose=0)

In [19]:
valid_x = valid.as_matrix()[:,1:]
valid_y = valid.as_matrix()[:,0]

In [20]:
valid_x = np.expand_dims(valid_x, axis = 1)
valid_x.shape

(303925, 1, 126)

In [ ]:
model.fit(train_x, to_categorical(train_y), nb_epoch=30, batch_size=32, 
         validation_data = (valid_x, to_categorical(valid_y)),
          class_weight=train_class_weight,
         callbacks=[checkpointer,earlystopper])

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/keras/models.py:942: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Train on 244712 samples, validate on 303925 samples
Epoch 1/30
244712/244712 [==============================] - 1765s 7ms/step - loss: 0.6737 - acc: 0.9927 - val_loss: 0.0107 - val_acc: 0.9993

Epoch 00001: val_loss improved from inf to 0.01071, saving model to Keras-CNN.hdf5
Epoch 2/30
244712/244712 [==============================] - 1759s 7ms/step - loss: 0.6737 - acc: 0.9927 - val_loss: 0.0107 - val_acc: 0.9993

Epoch 00002: val_loss did not improve
Epoch 3/30
244704/244712 [============================>.] - ETA: 0s - loss: 0.6737 - acc: 0.9927

In [17]:
# valid_x = valid.as_matrix()[:,1:]
# valid_y = valid.as_matrix()[:,0]
loss_and_metrics = model.evaluate(valid_x, to_categorical(valid_y), batch_size=128)
loss_and_metrics

303925/303925 [==============================] - 2s 5us/step

[0.010712811138673648, 0.9993353623426833]

In [18]:
test_x = test.as_matrix()
test_x.shape

(303375, 126)

In [20]:
classes = model.predict(test_x, batch_size=128)
classes.shape

(303375, 2)

In [21]:
to_categorical(train_y)

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [22]:
to_categorical(valid_y)[0,1]

0.0

In [25]:
sum(classes[:,0])

303375.0

In [26]:
prob = model.predict_proba(test_x)

303375/303375 [==============================] - 3s 11us/step

In [30]:
sum(prob[:,0])

303375.0