In [53]:
import numpy as np
import pandas as pd
#import training setvalid_newfeature
a = pd.read_csv('/project/tffm-master/xg_valid_pctr.csv')
#import validation set
b = pd.read_csv('/project/tffm-master/fmv.csv')
c = pd.read_csv('/project/Data/lgbm_valid_pctr.csv')

In [54]:
a.head()

   click  click_pred_per  click_pred_class
0      0        0.000154                 0
1      0        0.000162                 0
2      0        0.000131                 0
3      0        0.000119                 0
4      0        0.000108                 0

In [55]:
b.head()

   click  click_pred_per  click_pred_class
0      0    8.073824e-06                 0
1      0    1.511657e-05                 0
2      0    1.075781e-06                 0
3      0    6.874001e-07                 0
4      0    1.298044e-05                 0

In [56]:
z=a['click_pred_per']+b['click_pred_per']
z=z/2

In [18]:
eee=a.copy()

In [41]:
eee['comb']=a['click_pred_per']+b['click_pred_per']+c['click_pred_per']

In [42]:
eee['comb']=eee['comb']/3

In [43]:
eee.to_csv('/project/Data/combine1.csv', encoding='utf-8', index=False)

In [4]:
c.head()

   click  click_pred_per  click_pred_class
0      0        0.000113                 0
1      0        0.000081                 0
2      0        0.000116                 0
3      0        0.000167                 0
4      0        0.000067                 0

In [5]:
d=a['click_pred_per']+b['click_pred_per']+c['click_pred_per']

In [6]:
d=d/3

In [14]:
d

0         0.000092
1         0.000086
2         0.000083
3         0.000096
4         0.000063
5         0.000224
6         0.000330
7         0.000381
8         0.000194
9         0.000084
10        0.000591
11        0.000174
12        0.000072
13        0.000634
14        0.000309
15        0.000071
16        0.000163
17        0.000135
18        0.001103
19        0.000184
20        0.000262
21        0.000550
22        0.000275
23        0.000092
24        0.000386
25        0.000459
26        0.000049
27        0.000447
28        0.000331
29        0.001081
            ...
303895    0.004794
303896    0.000071
303897    0.000761
303898    0.000587
303899    0.000329
303900    0.000206
303901    0.000067
303902    0.000265
303903    0.000068
303904    0.000338
303905    0.000359
303906    0.000389
303907    0.000156
303908    0.000142
303909    0.000091
303910    0.000364
303911    0.000348
303912    0.000132
303913    0.000416
303914    0.000050
303915    0.000552
303916    0.000279
303917    0.000079
303918    0.000207
303919    0.000093
303920    0.000219
303921    0.000195
303922    0.001195
303923    0.000274
303924    0.000186
Name: click_pred_per, Length: 303925, dtype: float64

In [57]:
df_valid = pd.read_csv("/project/Data/validation.csv")

In [58]:
# parameters
total_budget = 6250000
payprice = df_valid['payprice'].as_matrix()
Train_df_qr = df_valid.copy()
avgCTR = 1793/2430981 #train set
#tuning...

In [59]:
def generate_bidprice(base_bid, test_predictions):
    avgCTR = 1793/2430981#train set
    bidprices = base_bid*test_predictions/avgCTR
    return bidprices

In [60]:
def Prob3(Train_df,payprice,base_bid,test_predictions):
    Train_Const_summ = pd.DataFrame({'Clicks':'', 'Spend':'', 'CTR':'', 'CPM':'', 'eCPC':''}, index=[0])
    
    #if count_break = 5 break
    count_break = 0
    
    current_budget = total_budget
    Train_df['win'] = 0 #initialize win label
    bidprices =generate_bidprice(base_bid, test_predictions)
    #start biding...
    for i in Train_df.index:
        current_bidprice = bidprices[i]
        #consider budget
        if current_budget <= current_bidprice:              
            #count lack budget times
            count_break = count_break + 1
#             print('lack of budget!',"current_budget:",current_budget,";current_bidprice:",current_bidprice,';count_break:',count_break)
            if count_break > 5:
                break  
            #reset bidprice
            current_bidprice = current_budget
        else:
            count_break = 0
            

        #Winning criterion:
        current_payprice = payprice[i]
        if current_bidprice > current_payprice:
            Train_df.at[i, 'win'] = int(1)
            current_budget = current_budget - current_payprice
        else:
            Train_df.at[i, 'win'] = int(0)

    #biding end        
    
    Train_df_new = Train_df[Train_df['win']!=0]
    #wintimes,_ = Train_df_new.shape
    #print('wintimes:',wintimes)
    #print('current_budget',current_budget)

    
#     #commented in for
    Clk = Train_df_new['click'].sum()
    Imp = Train_df_new['click'].count()
    CTR= Clk/Imp
    Spd = total_budget - current_budget
    CPM = 1000*Spd/Imp
    eCPC = Spd/Clk
    
    Train_Const_summ.loc[0,'Clicks']=Clk
    Train_Const_summ.loc[0,'Spend']=Spd
    Train_Const_summ.loc[0,'CTR']=CTR
    Train_Const_summ.loc[0,'CPM']=CPM
    Train_Const_summ.loc[0,'eCPC']=eCPC

    print(Train_Const_summ)
    
        
    return Train_df,current_budget

In [61]:
def calculate_click(base_bid,Train_df,payprice,test_predictions):
#     print('base_bid:',base_bid)
    result_df,current_budget = Prob3(Train_df,payprice,base_bid,test_predictions)
#     print('current_budget:',current_budget)
    Train_df_new = result_df[result_df['win']!=0]
    wintimes,_ = Train_df_new.shape
#     print('wintimes:',wintimes)
#     print('----------------')
    Clk = Train_df_new['click'].sum()    
    return Clk

In [65]:
#test range
base_bids = np.arange(160,180,1)#区间可以适当左右调整一下，但大概就是这个范围
count = 0
maxClks = []

In [66]:
count = count + 1
print(str(count)+" valid result is being test...")
test_predictions=z
Clks = [calculate_click(base_bid,Train_df_qr,payprice,test_predictions) for base_bid in base_bids]
print("max click@",Clks.index(max(Clks)),"base_bid=",base_bids[Clks.index(max(Clks))],"click =",max(Clks))
maxClks.append(max(Clks))
#     fig = plt.figure()
#     plt.plot(base_bids,Clks)
#     mpld3.display(fig)

1 valid result is being test...
       CPM         CTR Clicks    Spend     eCPC
0  47970.5  0.00135922    169  5964463  35292.7
     CPM         CTR Clicks    Spend     eCPC
0  48050  0.00135388    169  5997885  35490.4
       CPM         CTR Clicks    Spend   eCPC
0  48152.7  0.00134795    169  6037191  35723
       CPM         CTR Clicks    Spend     eCPC
0  48226.7  0.00134271    169  6070050  35917.5
       CPM         CTR Clicks    Spend     eCPC
0  48312.6  0.00134521    170  6105454  35914.4
     CPM         CTR Clicks    Spend     eCPC
0  48397  0.00133991    170  6140321  36119.5
       CPM         CTR Clicks    Spend     eCPC
0  48496.1  0.00133444    170  6178116  36341.9
     CPM         CTR Clicks    Spend     eCPC
0  48586  0.00132948    170  6212695  36545.3
       CPM         CTR Clicks    Spend     eCPC
0  48665.4  0.00132437    170  6246840  36746.1
       CPM         CTR Clicks    Spend     eCPC
0  48748.4  0.00131816    169  6249984  36982.2
       CPM         CTR Clicks    Spend     eCPC
0  48815.5  0.00131216    168  6249999  37202.4
       CPM         CTR Clicks    Spend     eCPC
0  48887.6  0.00130628    167  6249987  37425.1
       CPM       CTR Clicks    Spend     eCPC
0  48977.2  0.001293    165  6249980  37878.7
     CPM        CTR Clicks    Spend     eCPC
0  49070  0.0012876    164  6249994  38109.7
       CPM         CTR Clicks    Spend     eCPC
0  49139.5  0.00128156    163  6249998  38343.5
       CPM        CTR Clicks    Spend     eCPC
0  49238.7  0.0012684    161  6249973  38819.7
       CPM         CTR Clicks    Spend     eCPC
0  49322.8  0.00124688    158  6249993  39556.9
       CPM         CTR Clicks    Spend     eCPC
0  49416.7  0.00122554    155  6249981  40322.5
       CPM         CTR Clicks    Spend     eCPC
0  49508.9  0.00121198    153  6249999  40849.7
       CPM         CTR Clicks    Spend     eCPC
0  49586.2  0.00121387    153  6249994  40849.6
max click@ 4 base_bid= 164 click = 170

In [20]:
count = count + 1
print(str(count)+" valid result is being test...")
test_predictions=c
Clks = [calculate_click(base_bid,Train_df_qr,payprice,test_predictions) for base_bid in base_bids]
print("max click@",Clks.index(max(Clks)),"base_bid=",base_bids[Clks.index(max(Clks))],"click =",max(Clks))
maxClks.append(max(Clks))
#     fig = plt.figure()
#     plt.plot(base_bids,Clks)
#     mpld3.display(fig)

1 valid result is being test...
       CPM         CTR Clicks    Spend     eCPC
0  48815.5  0.00131216    168  6249999  37202.4
       CPM         CTR Clicks    Spend     eCPC
0  48887.6  0.00130628    167  6249987  37425.1
       CPM       CTR Clicks    Spend     eCPC
0  48977.2  0.001293    165  6249980  37878.7
     CPM        CTR Clicks    Spend     eCPC
0  49070  0.0012876    164  6249994  38109.7
       CPM         CTR Clicks    Spend     eCPC
0  49139.5  0.00128156    163  6249998  38343.5
       CPM        CTR Clicks    Spend     eCPC
0  49238.7  0.0012684    161  6249973  38819.7
       CPM         CTR Clicks    Spend     eCPC
0  49322.8  0.00124688    158  6249993  39556.9
       CPM         CTR Clicks    Spend     eCPC
0  49416.7  0.00122554    155  6249981  40322.5
       CPM         CTR Clicks    Spend     eCPC
0  49508.9  0.00121198    153  6249999  40849.7
       CPM         CTR Clicks    Spend     eCPC
0  49586.2  0.00121387    153  6249994  40849.6
max click@ 0 base_bid= 170 click = 168

In [ ]:
153

In [23]:
e=pd.read_csv('/project/tffm-master/fm.csv')

In [24]:
f=pd.read_csv('/project/tffm-master/xg_test_pctr.csv')

In [30]:
g=pd.read_csv('/project/Data/pctr_lgbm_test.csv')

In [31]:
e

        click  click_pred_per  click_pred_class
0         NaN    1.384021e-04                 0
1         NaN    2.382462e-03                 0
2         NaN    3.662250e-06                 0
3         NaN    4.726222e-05                 0
4         NaN    1.100558e-03                 0
5         NaN    5.148010e-06                 0
6         NaN    5.402221e-05                 0
7         NaN    1.213808e-03                 0
8         NaN    5.014401e-05                 0
9         NaN    4.903528e-04                 0
10        NaN    1.001450e-04                 0
11        NaN    2.393491e-03                 0
12        NaN    1.810412e-04                 0
13        NaN    2.768290e-05                 0
14        NaN    2.000732e-04                 0
15        NaN    9.318627e-05                 0
16        NaN    6.028840e-05                 0
17        NaN    5.498278e-05                 0
18        NaN    4.474705e-04                 0
19        NaN    2.843747e-04                 0
20        NaN    1.305141e-06                 0
21        NaN    1.861432e-04                 0
22        NaN    1.108372e-04                 0
23        NaN    2.011190e-04                 0
24        NaN    8.709058e-08                 0
25        NaN    7.249431e-05                 0
26        NaN    1.069858e-04                 0
27        NaN    3.709553e-04                 0
28        NaN    4.144127e-04                 0
29        NaN    1.360104e-09                 0
...       ...             ...               ...
303345    NaN    2.287251e-04                 0
303346    NaN    5.895624e-04                 0
303347    NaN    7.171412e-05                 0
303348    NaN    1.712744e-04                 0
303349    NaN    5.663672e-04                 0
303350    NaN    8.483665e-06                 0
303351    NaN    6.434126e-04                 0
303352    NaN    9.798608e-04                 0
303353    NaN    7.280885e-04                 0
303354    NaN    7.954183e-05                 0
303355    NaN    4.624808e-06                 0
303356    NaN    1.287935e-03                 0
303357    NaN    1.347683e-05                 0
303358    NaN    1.444365e-04                 0
303359    NaN    2.263033e-06                 0
303360    NaN    7.832018e-05                 0
303361    NaN    6.851388e-07                 0
303362    NaN    2.812025e-04                 0
303363    NaN    2.832726e-04                 0
303364    NaN    3.852137e-05                 0
303365    NaN    2.290776e-04                 0
303366    NaN    6.053571e-07                 0
303367    NaN    1.039859e-04                 0
303368    NaN    1.030072e-03                 0
303369    NaN    6.291817e-06                 0
303370    NaN    5.297909e-07                 0
303371    NaN    4.863388e-07                 0
303372    NaN    2.029248e-05                 0
303373    NaN    2.138794e-04                 0
303374    NaN    2.823977e-09                 0

[303375 rows x 3 columns]

In [32]:
f

        Unnamed: 0    bidprice  click_pred_per  click_pred_class
0                0  106.831530        0.000601                 0
1                1  274.341351        0.001545                 0
2                2   23.719198        0.000134                 0
3                3  113.739314        0.000640                 0
4                4   86.940014        0.000489                 0
5                5  120.532011        0.000679                 0
6                6   29.839475        0.000168                 0
7                7   76.893864        0.000433                 0
8                8   62.385191        0.000351                 0
9                9   85.046060        0.000479                 0
10              10   61.746600        0.000348                 0
11              11  457.105890        0.002574                 0
12              12   76.016482        0.000428                 0
13              13   67.042801        0.000377                 0
14              14   92.591098        0.000521                 0
15              15   40.517371        0.000228                 0
16              16   41.477730        0.000234                 0
17              17   37.355791        0.000210                 0
18              18   47.126303        0.000265                 0
19              19   94.909883        0.000534                 0
20              20   29.488602        0.000166                 0
21              21  118.959725        0.000670                 0
22              22   48.316715        0.000272                 0
23              23   54.618294        0.000308                 0
24              24   19.683903        0.000111                 0
25              25  247.380094        0.001393                 0
26              26   34.639563        0.000195                 0
27              27  103.120520        0.000581                 0
28              28   94.636350        0.000533                 0
29              29   21.418909        0.000121                 0
...            ...         ...             ...               ...
303345      303345   51.467191        0.000290                 0
303346      303346  136.808391        0.000770                 0
303347      303347   40.365160        0.000227                 0
303348      303348   25.271584        0.000142                 0
303349      303349   98.685741        0.000556                 0
303350      303350   28.887412        0.000163                 0
303351      303351  247.367271        0.001393                 0
303352      303352  157.272864        0.000885                 0
303353      303353  525.257830        0.002957                 0
303354      303354   38.894192        0.000219                 0
303355      303355   27.106459        0.000153                 0
303356      303356  207.454332        0.001168                 0
303357      303357   20.390283        0.000115                 0
303358      303358   41.956959        0.000236                 0
303359      303359   20.326123        0.000114                 0
303360      303360   50.905399        0.000287                 0
303361      303361   50.559905        0.000285                 0
303362      303362   60.794736        0.000342                 0
303363      303363   99.474419        0.000560                 0
303364      303364   47.915245        0.000270                 0
303365      303365   43.571848        0.000245                 0
303366      303366   20.653894        0.000116                 0
303367      303367   28.422005        0.000160                 0
303368      303368  444.939818        0.002505                 0
303369      303369   27.657350        0.000156                 0
303370      303370   16.881837        0.000095                 0
303371      303371   13.390048        0.000075                 0
303372      303372   19.780561        0.000111                 0
303373      303373   63.182195        0.000356                 0
303374      303374   25.940579        0.000146                 0

[303375 rows x 4 columns]

In [33]:
g

          bidprice  click_pred_per  click_pred_class
0       244.080088        0.001385                 0
1       335.697919        0.001905                 0
2        16.689485        0.000095                 0
3       106.045246        0.000602                 0
4       106.171178        0.000602                 0
5       103.802702        0.000589                 0
6        26.574267        0.000151                 0
7       101.980506        0.000579                 0
8        44.158626        0.000251                 0
9        51.102187        0.000290                 0
10       46.052440        0.000261                 0
11      467.374622        0.002652                 0
12      104.535719        0.000593                 0
13       45.879581        0.000260                 0
14      104.437819        0.000593                 0
15       36.269606        0.000206                 0
16       56.435773        0.000320                 0
17       38.887715        0.000221                 0
18       54.333674        0.000308                 0
19       80.828111        0.000459                 0
20       25.593211        0.000145                 0
21      120.975814        0.000686                 0
22       41.397158        0.000235                 0
23       84.086921        0.000477                 0
24        8.594948        0.000049                 0
25      128.576061        0.000729                 0
26       43.751215        0.000248                 0
27      124.622712        0.000707                 0
28       72.320023        0.000410                 0
29       14.990488        0.000085                 0
...            ...             ...               ...
303345   71.661100        0.000407                 0
303346   98.617263        0.000560                 0
303347   44.374771        0.000252                 0
303348   47.722249        0.000271                 0
303349   92.118317        0.000523                 0
303350   16.491619        0.000094                 0
303351  314.062032        0.001782                 0
303352  162.850531        0.000924                 0
303353  731.471402        0.004150                 0
303354   45.279919        0.000257                 0
303355   18.720861        0.000106                 0
303356  154.131827        0.000874                 0
303357   20.666007        0.000117                 0
303358   35.614776        0.000202                 0
303359   24.634292        0.000140                 0
303360   39.533040        0.000224                 0
303361   36.414800        0.000207                 0
303362   72.025015        0.000409                 0
303363   84.375533        0.000479                 0
303364   67.095461        0.000381                 0
303365   45.098060        0.000256                 0
303366   27.689129        0.000157                 0
303367   37.078545        0.000210                 0
303368  440.205742        0.002498                 0
303369   32.628733        0.000185                 0
303370   15.784797        0.000090                 0
303371   10.536183        0.000060                 0
303372   18.517866        0.000105                 0
303373   34.613017        0.000196                 0
303374   57.820299        0.000328                 0

[303375 rows x 3 columns]

In [34]:
h=e['click_pred_per']+f['click_pred_per']+g['click_pred_per']

In [35]:
h=h/3

In [47]:
h

0         0.000708
1         0.001944
2         0.000077
3         0.000430
4         0.000731
5         0.000424
6         0.000124
7         0.000742
8         0.000217
9         0.000420
10        0.000236
11        0.002540
12        0.000401
13        0.000222
14        0.000438
15        0.000176
16        0.000205
17        0.000162
18        0.000340
19        0.000426
20        0.000104
21        0.000514
22        0.000206
23        0.000329
24        0.000053
25        0.000732
26        0.000183
27        0.000553
28        0.000453
29        0.000069
            ...
303345    0.000308
303346    0.000640
303347    0.000184
303348    0.000195
303349    0.000548
303350    0.000088
303351    0.001273
303352    0.000930
303353    0.002612
303354    0.000185
303355    0.000088
303356    0.001110
303357    0.000082
303358    0.000194
303359    0.000085
303360    0.000196
303361    0.000164
303362    0.000344
303363    0.000441
303364    0.000230
303365    0.000243
303366    0.000091
303367    0.000158
303368    0.002011
303369    0.000116
303370    0.000062
303371    0.000045
303372    0.000079
303373    0.000255
303374    0.000158
Name: click_pred_per, Length: 303375, dtype: float64

In [50]:
#Test_df = pd.read_csv("/project/Data/mytestset.csv")
Group=  pd.read_csv('/project/Data/Group_xx.csv')

In [37]:
base_bid=153
#这个变成你测出来最高clk的basebid！！！！！！！
avgCTR = 1793/2430981#train set
v = base_bid*h/avgCTR

In [38]:
v

0         146.915443
1         403.240886
2          16.034837
3          89.150583
4         151.598598
5          88.003242
6          25.777642
7         153.874305
8          45.078426
9          87.063593
10         49.030179
11        526.813888
12         83.122772
13         46.013726
14         90.853076
15         36.446307
16         42.456750
17         33.600922
18         70.603505
19         88.322714
20         21.610955
21        106.643496
22         42.714776
23         68.158271
24         11.041085
25        151.762401
26         38.047282
27        114.686942
28         93.870131
29         14.219637
             ...
303345     63.965632
303346    132.715887
303347     38.082039
303348     40.403420
303349    113.720788
303350     18.302651
303351    264.002100
303352    192.870023
303353    541.796467
303354     38.405729
303355     18.217024
303356    230.288232
303357     16.977514
303358     40.293644
303359     17.733927
303360     40.742830
303361     34.016808
303362     71.368373
303363     91.415219
303364     47.639717
303365     50.495359
303366     18.945346
303367     32.801536
303368    417.143036
303369     24.002927
303370     12.801449
303371      9.379974
303372     16.368689
303373     52.965656
303374     32.782547
Name: click_pred_per, Length: 303375, dtype: float64

In [51]:
Group['bidprice']=bp
Group.head()

                                      bidid    bidprice
0  366c563de7d90feb9d4dab53e795a93fb3157387  147.551663
1  29167d4caa719788b5a342dbaa25151d53121f80  325.963273
2  ff8bc3f4d44a3ea60c5f3a3a8fbe7cd98fb2966e   17.162003
3  844c2da00d45315f20b748ec131c26ee99a7cbc7   93.038319
4  c6017f0ad0c44d7d0c9b62583ea863f28941c0ca  151.712928

In [52]:
Group.to_csv('/project/Data/Group_666666.csv', encoding='utf-8', index=False)

In [45]:
lam = 0.0000030
c = 330

In [46]:
def generate_bidprice(c, lam, pCTR):
#     avgCTR = 1793/2430981#train set
    z = ((pCTR+((c**2)*(lam**2)+(pCTR**2))**(1/2))/(c*lam))**(1/3)
    bidprices = c*(z-1/z)
    assert bidprices.shape == pCTR.shape
    return bidprices

In [48]:
bp=generate_bidprice(c,lam,h)

In [49]:
bp

0         147.551663
1         325.963273
2          17.162003
3          93.038319
4         151.712928
5          91.898699
6          27.550541
7         153.720784
8          47.953180
9          90.963854
10         52.091394
11        386.975661
12         87.028479
13         48.933992
14         94.725570
15         38.863787
16         45.199554
17         35.854233
18         74.375366
19         92.216226
20         23.113152
21        110.151907
22         45.470847
23         71.878506
24         11.822812
25        151.857762
26         40.554364
27        117.849539
28         97.704378
29         15.222128
             ...
303345     67.579118
303346    134.693390
303347     40.591044
303348     43.038538
303349    116.930798
303350     19.583903
303351    240.327375
303352    186.695562
303353    393.665970
303354     40.932589
303355     19.492495
303356    215.896072
303357     18.168968
303358     42.922901
303359     18.976724
303360     43.396003
303361     36.294494
303362     75.154733
303363     95.281681
303364     50.637084
303365     53.621720
303366     20.269894
303367     35.007642
303368    333.416522
303369     25.661643
303370     13.705796
303371     10.045286
303372     17.518660
303373     56.196743
303374     34.987526
Name: click_pred_per, Length: 303375, dtype: float64